html {font-size: 15px !important; font-family: Arial !important;}
body {padding-top: 50px !important;}

.user-header a.nav-link {color:#FFFFFF !important;}
a.nav-link:hover {color: grey !important; text-decoration:none !important;}
a.fa {text-decoration: none;}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 0px;
    font-size: 15px;
    line-height: 3;
    border-radius: 25px;
    text-align: center;
    float:right;
    display: block;
}

.product-description {
    margin-top: 50px;
}


.carousel-item {height: 500px;width: 100%;}

.content {margin-top: 50px;}

.product-table {
    text-align: center; 
    vertical-align:middle;
}

.productcart {width: 10px;}

.filterbox {
    height: 100%;
}

.product-cart {
    width: 300px;
    height: 350px;
    margin: auto;
}

.mr-1 {
    float: right;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.img1 {
    width: 300px;
    height: 200px;
    display: block;
    margin: auto;
}

.img2 {
    width: 75px;
    height: 50px;
    display: block;
    margin: auto;
}

.img3 {
    width: 450px;
    height: 300px;
    display: block;
    margin: auto;
}

.img4 {
    width: 225px;
    height: 150px;
    margin: auto;
}

.icon {
    background: white;
    background: white;
    border-radius: 25px;;
    border: 3px solid orange;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    color: black;
    display: table-cell;
    font-size: 30px;
    height: 50px;
    padding: 0px;
    text-align: center;
    transition: .5s;
    vertical-align: middle;
    width: 50px;
    margin-bottom: 10px;
    margin-left: 5px;
    float: right;
    line-height: 1.5;
}

.icon:hover {
    background: orange;
}
  
.fix-editor {
    display: none;
    float: right;
}
  
.icon-wrapper {
    float: right;
}

.card-size {
    width: 350px;
    display: block;
    margin: auto;
}


.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 2px solid #eee;

}
 
.sidebar {
    padding-left: 0;
    padding-right: 0;
}
  
.sidebar .nav {
    margin-bottom: 20px;
}
  
.sidebar .nav-item {
    width: 100%;
}
  
.sidebar .nav-item + .nav-item {
    margin-left: 0;
}
  
.sidebar .nav-link {
    border-radius: 0;
}


#cartCount {
    font-size: 15px;
    background: #696969;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
}

.unstyled-button {
    border: none;
    padding: 0;
    background: none;
  }

  .filter-card .list-group {
    margin-bottom: 0px;
  }

  